nav {
  display: flex;
  align-items: center;
  background-color: blue;
  justify-content: space-around;
  flex-wrap: wrap;
}

.logo {
  font-size: 34px;
  margin-right: 10em;
  font-weight: bold;
}

nav > ul {
  list-style: none;
  display: flex;
  background-color: aqua;
  justify-content: flex-end;
  gap: 1em;
  flex-wrap: wrap;
  font-size: 24px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
}

p {
  font-size: 18px;
}

.first {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 2em;
  justify-content: space-around;
  margin-top: 3em;
}

.home {
  max-width: 25%;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 10em;
}

.grid p {
  width: 150px;
  background-color: blue;
  text-align: center;
}
.gridimg {
  height: 150px;
  width: 150px;
  display: block;
}
